.css-ias91b:focus, .css-ias91b[data-focus] {
    box-shadow: none !important
}

.css-76xnmi:focus, .css-76xnmi[data-focus] {
    box-shadow: none !important
}

.css-geb5gc:focus, .css-geb5gc[data-focus] {
    box-shadow: none !important
}

.css-iyqo1w:focus, .css-iyqo1w[data-focus] {
    box-shadow: none !important;
}

.css-1ak8m0c:focus, .css-1ak8m0c[data-focus] {
    border-color: #ccc !important;
    box-shadow: none !important;
}

.css-r6z5ec {
    position: relative !important;
}